.form-container__notes {
    display: flex;
}

.input__span__notes {
    margin-top: 1.2rem;
}

.input__radio-label {
    font-size: 1.2rem;
    vertical-align: middle;
    margin-right: 1rem;
    line-height: 3rem;
}

input[type="checkbox"] {
    vertical-align: middle;
}