
.sidebar {
    position: absolute;
    top: 5rem;
    width: 20%;
    height: 100%;
    text-align: center;
}

.sidebar h3 {
    padding: 2rem 0;
    font-size: 1.5rem;
}

.sidebar h3:first-child {
    margin-top: 3rem;
}

